/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

body {
  padding: 3rem; }

nav {
  display: flex;
  justify-content: space-between; }
  nav .logo {
    flex: 0 1 auto; }
  nav ul.navigationList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 75%; }
    nav ul.navigationList a {
      color: #14434C;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.3rem; }
      nav ul.navigationList a.grow::after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0%;
        height: 3px;
        border-bottom: 1px solid #F47521;
        transition: 0.4s; }
      nav ul.navigationList a.grow:hover::after {
        width: 100%;
        left: 0; }
    nav ul.navigationList li input {
      border: none;
      padding: 10px 0;
      font-size: 1.8rem;
      width: 15rem; }
      nav ul.navigationList li input:focus {
        outline: none; }
    nav ul.navigationList li:last-child::before {
      content: "\007c";
      vertical-align: top;
      font-size: 3rem;
      margin-right: 4rem; }
    nav ul.navigationList .ion-android-search {
      font-size: 3.3rem;
      margin-left: 2rem; }

.container_offers {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 80rem;
  margin-top: 10rem;
  font-size: 2.3rem; }
  .container_offers .offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .container_offers .offer h1,
    .container_offers .offer p,
    .container_offers .offer button {
      margin: 15px 0; }
    .container_offers .offer h1 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-shadow: -1px -1px 0 #747474; }
    .container_offers .offer--big {
      grid-column: 2/ 3;
      grid-row: 1 / 3;
      background: url("/img/pexels-photo-265087.jpeg") no-repeat;
      background-size: cover; }
      .container_offers .offer--big:hover {
        background: url("/img/pexels-photo-265087-onhover.jpeg") no-repeat;
        background-size: cover; }
    .container_offers .offer--wide {
      background-color: #14434C;
      height: 8rem;
      grid-column: 1/ 3;
      color: #fff;
      letter-spacing: 2px; }
    .container_offers .offer--small:first-child {
      background: url("/img/pexels-photo-574077.jpeg") no-repeat;
      background-size: cover; }
      .container_offers .offer--small:first-child:hover {
        background: url("/img/pexels-photo-574077-onhover.jpeg") no-repeat;
        background-size: cover; }
    .container_offers .offer--small:nth-last-child(2) {
      background: url("/img/pexels-photo-95916.jpeg") no-repeat;
      background-size: cover; }
      .container_offers .offer--small:nth-last-child(2):hover {
        background: url("/img/pexels-photo-95916-onhover.jpeg") no-repeat;
        background-size: cover; }
    .container_offers .offer .wide-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .container_offers .offer .wide-content .btn--info {
        margin-left: 3rem; }

.benefits_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0; }
  .benefits_container .title {
    font-size: 2.9rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: #F47521; }
  .benefits_container h2.title {
    margin-bottom: 8rem;
    font-size: 5rem; }

.benefits__boxes {
  display: flex;
  justify-content: center; }
  .benefits__boxes .bbox {
    margin: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem; }
    .benefits__boxes .bbox p {
      text-align: center;
      line-height: 5rem;
      font-size: 3rem; }

.proof_container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  height: 80rem;
  font-size: 2.3rem;
  margin: 10rem 0;
  text-align: center;
  color: #fff; }
  .proof_container .proof_box {
    padding: 5rem 0; }
  .proof_container .quote__box {
    background-color: #14434C;
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .proof_container .quote__box p:first-of-type {
      width: 50%;
      margin: 0 auto;
      font-size: 4rem; }
  .proof_container .res__box {
    background-color: #4A5D69;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 4rem; }
    .proof_container .res__box .all_svg_box {
      display: flex;
      margin: 5rem 0; }
      .proof_container .res__box .all_svg_box .svg {
        margin: 0 6rem; }
  .proof_container .crm__box {
    background-color: #F47521;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .proof_container .crm__box h2,
    .proof_container .crm__box p:first-of-type {
      font-size: 4rem; }

.btn {
  padding: 1.2rem 2rem;
  border-radius: 4px;
  font-size: 1.8rem;
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn--primary {
    background: transparent;
    border: 3px solid black; }
  .btn--info {
    background: #F47521;
    border: 3px solid #F47521; }
