@charset "UTF-8";
.colored-txt {
  color: #F47521; }

.u-margin-bottom-medium {
  margin-bottom: 10rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.grow::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  border-bottom: 4px solid #F47521;
  transition: 0.3s; }

.grow:hover::after {
  width: 100%;
  left: 0; }

.grad-txt {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#F47521), to(#4A5D69));
  background-image: linear-gradient(to right, #F47521, #4A5D69);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .4rem; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

@media only screen and (max-width: 1324px) {
  html {
    font-size: 50%; }
  ul.navigationList {
    justify-content: flex-start;
    justify-items: flex-end;
    flex-wrap: wrap; }
    ul.navigationList li {
      flex-basis: 150px; }
    ul.navigationList li:last-child::before {
      content: ""; } }

@media only screen and (max-width: 900px) {
  html {
    font-size: 42%; }
  ul.navigationList {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    ul.navigationList li:last-child {
      min-width: 200px; }
      ul.navigationList li:last-child a {
        text-align: left; }
  .benefits__boxes {
    display: flex;
    flex-direction: column;
    align-content: center; }
    .benefits__boxes .bbox {
      margin: 0; }
  section.contact .content {
    height: 400px; } }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  nav ul.navigationList {
    margin: 4rem 0; }

@media only screen and (max-width: 450px) {
  html {
    font-size: 32%; } }

@media only screen and (max-width: 1422px) {
  nav {
    display: flex;
    justify-content: flex-start; }
    nav ul.navigationList {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 75%; }
      nav ul.navigationList li {
        margin: 0 1rem;
        flex-basis: 30px; }
      nav ul.navigationList li.special-flex {
        display: flex;
        flex-direction: row; }
    nav .ion-ios-search {
      display: inline;
      font-size: 4rem;
      vertical-align: middle;
      margin-left: 0rem;
      cursor: pointer; }
      nav .ion-ios-search:hover {
        color: #F47521; }
  div.container_offers {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: auto auto auto auto; }
    div.container_offers .offer {
      padding: 5rem 0; }
    div.container_offers .offer--big {
      grid-column: 1/ -1;
      grid-row: 1 /2; }
    div.container_offers .offer--wide {
      grid-column: 1/1;
      grid-row: 4/5;
      padding: 5rem 1rem; }
    div.container_offers .offer--small {
      grid-column: 1/1;
      grid-row: 3/4; }
  div.proof_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "res__box" "crm__box" "quote__box"; }
    div.proof_container .card {
      padding: 10rem 0; }
  section.contact {
    margin-top: 26rem; }
  .wide-content {
    flex-direction: column; }
  div.benefits_container {
    margin-top: 15rem; }
    div.benefits_container .bbox {
      margin: 1rem 0; } }

@media only screen and (min-width: 1800px) {
  html {
    font-size: 70%; } }

body {
  padding: 3rem;
  position: relative; }

#top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: #F47521;
  z-index: 9999;
  border: 3px solid #000;
  display: none; }
  #top i.icon {
    color: white;
    font-size: 7rem;
    padding: 1rem .5rem; }

nav {
  display: flex;
  justify-content: space-between; }
  nav ul.navigationList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin-top: 3rem 0; }
    nav ul.navigationList li {
      margin: 0 1rem; }
    nav ul.navigationList li.special-flex {
      display: flex;
      height: 40px; }
    nav ul.navigationList a {
      color: #14434C;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.2rem; }
    nav ul.navigationList li input {
      border: #14434C 3px solid;
      font-size: 2rem;
      padding: .6rem 0;
      width: 200px; }
      nav ul.navigationList li input:focus {
        border: 3px solid transparent;
        outline: 3px solid #F47521; }
    nav ul.navigationList .ion-ios-search {
      display: inline-block;
      font-size: 4rem;
      margin-left: 2rem;
      cursor: pointer;
      line-height: -215%; }
      nav ul.navigationList .ion-ios-search:hover {
        color: #F47521; }

.container_offers {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  height: 100rem;
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: -1px -1px 0 #747474; }
  .container_offers .offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; }
    .container_offers .offer h1,
    .container_offers .offer p,
    .container_offers .offer button {
      margin: 1rem 0; }
    .container_offers .offer .btn--info {
      padding: 2.3rem 1.5rem;
      margin-left: 3rem; }
    .container_offers .offer h1 {
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px; }
    .container_offers .offer--big {
      grid-column: 2/ 3;
      grid-row: 1 / 3;
      background: url("/img/pexels-photo-265087.jpeg") no-repeat;
      background-size: cover;
      transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
      -moz-transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; }
      .container_offers .offer--big:hover {
        background: url("/img/pexels-photo-265087-onhover.jpeg") no-repeat;
        background-size: cover; }
    .container_offers .offer--wide {
      background-color: #14434C;
      height: 8rem;
      grid-column: 1/ 3;
      color: #fff;
      letter-spacing: 2px; }
    .container_offers .offer--small:first-child {
      background: url("/img/pexels-photo-574077.jpeg") no-repeat;
      background-size: cover;
      grid-column: 1/2;
      grid-row: 2/3; }
      .container_offers .offer--small:first-child:hover {
        background: url("/img/pexels-photo-574077-onhover.jpeg") no-repeat;
        background-size: cover; }
    .container_offers .offer--small:nth-last-child(2) {
      background: url("/img/pexels-photo-95916.jpeg") no-repeat;
      background-size: cover; }
      .container_offers .offer--small:nth-last-child(2):hover {
        background: url("/img/pexels-photo-95916-onhover.jpeg") no-repeat;
        background-size: cover; }
    .container_offers .offer .wide-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .container_offers .offer:hover > button.btn {
      background-color: #fff; }

.benefits_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem; }
  .benefits_container .title {
    font-size: 2.9rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: #F47521; }
  .benefits_container h2.title {
    margin: 3rem 0;
    font-size: 5rem;
    text-align: center; }

.benefits__boxes {
  display: flex;
  justify-content: center;
  align-content: flex-start; }
  .benefits__boxes .bbox {
    margin: 7rem 0;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem; }
    .benefits__boxes .bbox p {
      text-align: center;
      line-height: 5rem;
      font-size: 3rem; }
    .benefits__boxes .bbox:hover > .icon {
      color: #F47521; }
  .benefits__boxes .icon {
    font-size: 9rem;
    color: #000;
    margin: 0;
    margin-top: 10rem;
    transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    justify-self: flex-end; }

.proof_container {
  display: grid;
  max-width: 100%;
  grid-template-areas: "res__box quote__box" "crm__box quote__box";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  height: 80rem;
  font-size: 2.3rem;
  text-align: center;
  -webkit-backface-visibility: hidden;
  color: #fff; }
  .proof_container .proof_box {
    padding: 5rem 0; }
  .proof_container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: absolute;
    max-width: 100%;
    height: 100%;
    transition: all 1s ease;
    backface-visibility: hidden;
    top: 0;
    left: 0; }
    .proof_container .card-front {
      background-color: #14434C; }
    .proof_container .card-back {
      background-color: #14434C;
      transform: rotateY(180deg); }
  .proof_container .quote__box:hover .card-front {
    transform: rotateY(-180deg); }
  .proof_container .quote__box:hover .card-back {
    transform: rotateY(0deg); }

.quote__box {
  grid-area: quote__box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  perspective: 9999px;
  padding: 5rem 0; }
  .quote__box p:first-of-type {
    width: 50%;
    margin: 0 auto;
    font-size: 4rem; }

.res__box {
  grid-area: res__box;
  background-color: #4A5D69;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  cursor: pointer; }
  .res__box .all_svg_box {
    display: flex;
    margin: 5rem 0; }
    .res__box .all_svg_box .svg {
      margin: 0 6rem; }
  .res__box .popup {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: initial; }
    .res__box .popup__content {
      border: solid 3px #F47521;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      background-color: #fff;
      color: #000;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 5rem 4rem; }
    .res__box .popup__right {
      line-height: 5rem;
      width: 50%;
      text-align: left; }
      .res__box .popup__right h2 {
        font-weight: 700;
        margin: 2rem 0;
        font-size: 3.5rem; }
        .res__box .popup__right h2::before {
          content: "▶▶";
          font-size: 4rem;
          margin-right: 1rem;
          color: #F47521; }
    .res__box .popup .popup__close {
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 5rem;
      cursor: pointer; }

.crm__box {
  grid-area: crm__box;
  background-color: #F47521;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden; }
  .crm__box h2,
  .crm__box p:first-of-type {
    font-size: 4rem; }
  .crm__box::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg); }

.crm__box:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }

@keyframes shine {
  100% {
    left: 125%; } }

footer {
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 2.5rem;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  footer .top__container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 4.5rem;
    margin-bottom: 4rem; }
    footer .top__container h3::before {
      content: "▶▶";
      font-size: 4rem;
      margin-right: 1rem;
      color: #F47521; }
    footer .top__container ul li {
      display: inline-block; }
      footer .top__container ul li a:hover {
        color: #F47521; }
    footer .top__container ul li:not(:last-of-type) {
      margin: 0 2rem; }
  footer .middle_boxes_container {
    width: 80%;
    display: flex;
    margin-bottom: 4rem; }
    footer .middle_boxes_container .setup__box {
      margin: 5rem 0;
      margin-right: 7rem;
      text-decoration: none; }
    footer .middle_boxes_container li {
      margin: 3rem 0; }
      footer .middle_boxes_container li a {
        text-decoration: none;
        position: relative; }
  footer .social_buttons__container {
    display: flex; }
  footer .bottom_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
    font-size: 2rem; }
    footer .bottom_container ul {
      display: flex; }
    footer .bottom_container li:not(:last-of-type) {
      margin-right: 7rem;
      margin-bottom: 3rem; }
    footer .bottom_container a {
      text-decoration: none; }
  footer li a {
    color: #fff; }

section.contact {
  background-color: #4A5D69;
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center; }
  section.contact .content {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 30%, transparent 50%), url(../../img/bgc.jpg);
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    width: 90%;
    height: auto;
    padding: 4rem 0; }

.form__group {
  margin: 5rem 5rem 0 5rem; }
  .form__group h2 {
    font-size: 3.5rem; }
  .form__group .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: #14434C 3px solid;
    min-width: 40%;
    display: block;
    outline: 3px solid transparent; }
    .form__group .form__input:focus {
      outline: 3px solid #F47521;
      border: 3px solid transparent; }
  .form__group .form__radio-group {
    display: inline-block; }
  .form__group .form__radio-label {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem; }

form {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column; }

.btn {
  padding: 1.2rem 2rem;
  border-radius: 4px;
  font-size: 1.8rem;
  transition: all 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer; }
  .btn:focus {
    outline: none; }
  .btn--primary {
    background: transparent;
    border: 3px solid black; }
  .btn--info {
    background: #F47521;
    border: 3px solid #F47521;
    line-height: 1rem; }
    .btn--info:hover {
      border: 3px solid #000; }
