.colored-txt {
    color: $huborange;
}

// margin between modules
.u-margin-bottom-medium {
    margin-bottom: 10rem;
}

//Hover effect on links = class .grow
.grow::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 1px;
    border-bottom: 4px solid $huborange;
    transition: 0.4s;
    &:hover::after {
        width: 100%;
        left: 0;
    }
}

//Background Gradient text effect = class .grad-txt
.grad-txt {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right top, from($huborange), to($greyish));
    background-image: linear-gradient(to right, $huborange, $greyish);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .4rem;
}