///////////////////////// 
///// MEDIA QUERIES /////
/////////////////////////
//Default html font size is 62.5%; screens above 1324px to 1800px.
@media only screen and (max-width: 1324px) {
    html {
        font-size: 50%;
    }
    ul.navigationList {
        justify-content: flex-start;
        justify-items: flex-end;
        flex-wrap: wrap;
        li {
            flex-basis: 150px;
        }
        li:last-child::before {
            content: "";
        }
    }
    section.contact {
        margin-top: 92rem;
        .content {
            height: 400px;
        }
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 42%;
    }
    ul.navigationList {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        li:last-child {
            min-width: 200px;
            a {
                text-align: left;
            }
        }
    }
    .benefits__boxes {
        display: flex;
        flex-direction: column;
        align-content: center;
        .bbox {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 510px) {}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    ul.navigationList {
        margin: 4rem 0;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 32%;
    }
}

@media only screen and (max-width: 1422px) {
    nav {
        display: flex;
        justify-content: flex-start;
        ul.navigationList {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 75%;
            li {
                margin: 0 1rem;
                flex-basis: 30px;
            }
            li.special-flex {
                display: flex;
                flex-direction: row;
            }
        }
        .ion-ios-search {
            display: inline;
            font-size: 4rem;
            vertical-align: middle;
            margin-left: 0rem;
            cursor: pointer;
            &:hover {
                color: $huborange;
            }
        }
    }
    div.container_offers {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-template-rows: auto auto auto auto;
        .offer {
            padding: 5rem 0;
        }
        .offer--big {
            grid-column: 1/ -1;
            grid-row: 1 /2;
        }
        .offer--wide {
            grid-column: 1/1;
            grid-row: 4/5;
            padding: 5rem 1rem;
        }
        .offer--small {
            grid-column: 1/1;
            grid-row: 3/4;
        }
    }
    div.proof_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "res__box" "crm__box" "quote__box";
        .card {
            padding: 10rem 0;
        }
        .card-front,
        .card-back {
            padding: 15rem 0;
        }
        .proof_box {
            padding: 10rem 0;
        }
    }
    .wide-content {
        flex-direction: column;
    }
    div.benefits_container {
        margin-top: 15rem;
        .bbox {
            margin: 1rem 0;
        }
    }
    .all_svg_box {
        flex-direction: column;
        justify-content: space-around;
    }
    .realsvg {
        width: 100px;
        height: 100px;
        margin: 3rem 0;
    }
    .realsvg2 {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-width: 1800px) {
    html {
        font-size: 70%;
    }
}