footer {
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 2.5rem;
    padding: 4rem 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .top__container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 4.5rem;
        margin-bottom: 4rem;
        h3::before {
            content: "▶▶";
            font-size: 4rem;
            margin-right: 1rem;
            color: $huborange;
        }
        ul li {
            display: inline-block;
            a:hover {
                color: $huborange;
            }
        }
        ul li:not(:last-of-type) {
            margin: 0 2rem;
        }
    }
    .middle_boxes_container {
        width: 80%;
        display: flex;
        margin-bottom: 4rem;
        .setup__box {
            margin: 5rem 0;
            margin-right: 7rem;
            text-decoration: none;
        }
        li {
            margin: 3rem 0;
            a {
                text-decoration: none;
                position: relative;
            }
        }
    }
    .social_buttons__container {
        display: flex;
    }
    .bottom_container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 4rem;
        font-size: 2rem;
        ul {
            display: flex;
        }
        li:not(:last-of-type) {
            margin-right: 7rem;
            margin-bottom: 3rem;
        }
        a {
            text-decoration: none;
        }
    }
    li a {
        color: #fff;
    }
}